* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 1.75em;
}

.navbar a {
  font-size: 1.25em;
  color: red;
}
